netifaces>=0.10.9
dhcplib==0.1.1
tabulate>=0.8.5
urwid
termcolor>=1.1.0
twisted>=24.7.0rc1
PyQt5
PyQt5-sip
pyOpenSSL>=22.1.0
dnslib==0.9.17
loguru>=0.4.0
scapy>=2.4.4
isc_dhcp_leases>=0.9.1
dnspython
Flask>=2.0
requests>=2.31.0
beautifulsoup4>=4.9.1
PyJWT
Flask-RESTful>=0.3.9
aiofiles
ping3
beautifulsoup4>=4.9.1
asn1crypto>=1.0.0
jwt>=1.0.0
Flask-RESTful==0.3.10
werkzeug
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=42.0.8 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerabilityAdd commentMore actions
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
